html {
  height: 100%;
}

body {
  margin: 0;
  font-family: "Trebuchet MS", sans-serif;

  min-height: 100%;
  display: grid;
  grid-template-rows: 20% 1fr auto ;

}

h1 {
  color: white;
  font-size: 4rem;

}

.greeting {
  font-size: 1.25rem;
}

.banner {
  background: #497678;
  background: -webkit-linear-gradient(left, #497678, #9ac0ba);
  background: -moz-linear-gradient(left, #497678, #9ac0ba);
  background: -ms-linear-gradient(left, #497678, #9ac0ba);
  background: -o-linear-gradient(left, #497678, #9ac0ba);
  background: linear-gradient(to right, #497678, #9ac0ba);
  margin: 0;
  padding: 4em;
  border-bottom: 0.5em solid #9AC0BA;

  grid-row-start: 1;
  grid-row-end: span 1;
}

.footer {
  background: #497678;
  color: white;
  margin: 0;
  border-top: 0.5em solid #9AC0BA;

  grid-row-start: 3;
}

.container {
  max-width: 960px;
  margin: auto;

  grid-row-start: 2;
  padding-bottom: 2rem;
}

.candidate-grid {
  display: grid;
  grid-template-columns: 24% 24% 4% 24% 24%;
  grid-gap: 0px;
  grid-template-areas:
    "candidate1 bio1 . candidate2 bio2"
    "candidate3 bio3 . candidate4 bio4"
    "candidate5 bio5 . candidate6 bio6"
    "candidate7 bio7 . candidate8 bio8";

}

.candidate {
  text-align: center;
  margin-top: 3rem;
}

.candidateDetails {
}

.link {
  text-decoration: none;
  color: black;
}

.name {
  font-size: 1.5rem;
}

.affiliations {
  font-size: 1.25rem;
}

.bioDiv {
  padding: 0 0 20px 20px;
}

.bioHeading {
  color: #D93E42;
  font-size: 1.5rem;
  font-weight: 600;
  margin-top: 3rem;

}

.vote {
  border-radius: 5px;
  padding: 5px 10px;
  margin: 1rem;
  background-color: #D93E42;
  border: 1px solid #D93E42;
  color: white;
  font-weight: 600;
  font-size: 1rem;
}

.vote:hover {
  transform: scale( 1.1 );
  cursor: pointer;

  /*opacity: .5;*/
  /*transition: opacity .15s ease-in;*/
}

#candidate1 {
  grid-area: candidate1;
}
#bio1 {
  grid-area: bio1;
}
#candidate2 {
  grid-area: candidate2;
}
#bio2 {
  grid-area: bio2;
}
#candidate3 {
  grid-area: candidate3;
}
#bio3 {
  grid-area: bio3;
}
#candidate4 {
  grid-area: candidate4;
}
#bio4 {
  grid-area: bio4;
}
#candidate5 {
  grid-area: candidate5;
}
#bio5 {
  grid-area: bio5;
}
