html {
  height: 100%;
}

body {
  margin: 0;
  font-family: "Trebuchet MS", sans-serif;
  min-height: 100%;
  display: grid;
  grid-template-rows: 20% 1fr auto;
}

.title {
  color: white;
  font-size: 4rem;
  display: inline-block;
}

.greeting {
  font-size: 1.25rem;
}

.banner {
  background: #497678;
  background: -webkit-linear-gradient(left, #497678, #9ac0ba);
  background: -moz-linear-gradient(left, #497678, #9ac0ba);
  background: -ms-linear-gradient(left, #497678, #9ac0ba);
  background: -o-linear-gradient(left, #497678, #9ac0ba);
  background: linear-gradient(to right, #497678, #9ac0ba);
  margin: 0;
  padding: 3em;
  border-bottom: 0.5em solid #9AC0BA;

  grid-row-start: 1;
  grid-row-end: span 1;
}

.container {
  max-width: 960px;
  margin: auto;

  grid-row-start: 2;
  padding-bottom: 2rem;
}

.candidate-grid {
  display: grid;
  grid-template-columns: 24% 24% 4% 24% 24%;
  grid-gap: 0px;
  grid-template-areas:
    "candidate1 bio1 . candidate2 bio2"
    "candidate3 bio3 . candidate4 bio4"
    "candidate5 bio5 . . . ";
}

#candidate1 {
  grid-area: candidate1;
}

#bio1 {
  grid-area: bio1;
}

#candidate2 {
  grid-area: candidate2;
}

#bio2 {
  grid-area: bio2;
}

#candidate3 {
  grid-area: candidate3;
}

#bio3 {
  grid-area: bio3;
}

#candidate4 {
  grid-area: candidate4;
}

#bio4 {
  grid-area: bio4;
}

#candidate5 {
  grid-area: candidate5;
}

#bio5 {
  grid-area: bio5;
}

.candidate {
  text-align: center;
  margin-top: 3rem;
}

.link {
  text-decoration: none;
  color: black;
}

.name {
  font-size: 1.5rem;
}

.affiliations {
  font-size: 1.25rem;
}

.bioDiv {
  padding: 0 0 20px 20px;
}

.bioHeading, .confirmation-heading {
  color: #D93E42;
  font-size: 1.5rem;
  font-weight: 600;
}

.bioHeading {
  margin-top: 3rem;
}

.vote {
  border-radius: 5px;
  padding: 5px 10px;
  margin: 1rem;
  background-color: #D93E42;
  border: 1px solid #D93E42;
  color: white;
  font-weight: 600;
  font-size: 1rem;
}

.vote:hover {
  transform: scale( 1.1 );
  cursor: pointer;
}

.modal-banner {
  background-color: #497678;
  min-height: 3rem;
  border-bottom: 0.25em solid #9AC0BA;
}

/* Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 15%; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    border: 1px solid #888;
    width: 30%;
}

.confirmation-heading {
  padding: 0 20px;
}

.confirmation-message {
  padding: 0 20px;
}

/*  Close Button */
.close {
    color: #fff;
    float: right;
    font-size: 48px;
    font-weight: bold;
    padding-right: .25em;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
    transform: scale( 1.1 );
}

.footer {
  background: #497678;
  color: white;
  margin: 0;
  border-top: 0.5em solid #9AC0BA;
  grid-row-start: 3;
  padding: 0 3em;
}

footer li {
  list-style-type: none;
}

footer .link{
  color: white;
}

.resources {
  margin: auto;
  display: grid;
  grid-template-columns: 1Fr 1Fr 1Fr;
  grid-gap: 10px;
  justify-items: center;
}

#council, #social, #copywright {
  align-items: right;
}

.logos {
  padding-right: 5px;
}
